
// 16.59cm
// 2.9, 0.4, 13.29cm;  (2.5) 2.9, 3.3
//
// (2.5) 2.9, 3.3, 11.4, 11.8;


@page {
  size: 8.5in 11in;
  margin: 2cm 2.5cm 2cm;
}

html {
  box-sizing: border-box;

  font-family: "Swift", "Merriweather", serif;
  font-size: 11pt;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
//   direction: rtl;
  margin: 0;
  padding: 0;
}
//
// body * {
//   direction: ltr;
// }


a {
  color: #3d10c7;
  text-decoration: none;
}


h1 {
  display: block;
  width: 13.29cm;
  margin: 0 0 6pt 3.3cm;

  font-size: 22pt;
  font-weight: bold;
}

h2 {
  display: block;
  width: 13.29cm;
  margin: 12pt 0 6pt 3.3cm;

  font-size: 14pt;
  font-weight: bold;

  page-break-after: avoid;
}

h3 {
  display: inline-block;
  //width: 13.29cm;
  flex-grow: 1;
  //margin: auto 0 auto 0.4cm;
  margin: auto 0 auto 3.3cm;

  font-size: 11pt;
  font-weight: bold;

}




p {
  //display: inline-block;
  //width: 13.29cm;
  margin: auto 0 4pt 3.3cm; //0.4cm;

  flex-basis: 13.29cm;
  flex-grow: 1;

  display: inline-block;

  .pctxt {
    text-indent: 0.8cm;
    display: block;
  }
}


section > div {
  //display: block;
  margin: auto 0;
  //padding: 0;

  display: flex;
  flex-direction: row;
//   flex-wrap: nowrap;
  //justify-content: flex-end;
  align-items: flex-start;

  page-break-after: avoid;
}




//.left {
h5 {
  display: inline-block;
  //margin: auto 0.4cm auto none;
  margin: 0;
  //width: 2.9cm;
  flex-basis: 2.9cm;
  height: 11pt;
  line-height: 13pt;
  flex-grow: 0;

  text-align: right;
  font-size: 8pt;
  font-weight: bold;
  color: #8f8f8f;

  &.sc {
    font-variant: small-caps;
  }

  + h3 {
    margin-left: 0.4cm;
  }

  + p {
    margin-left: 0.4cm;
  }
}

.ctxt {
  p {
    font-size: 9pt;
    font-style: italic;
  }
  h5 {
    line-height: 12pt;
  }
}


header {
  width: 16.59cm;
  margin: 0 0 8pt;
  display: flex;

  div {
    display: flex;
    flex-direction: row;
    //flex-wrap: nowrap;
    //justify-content: flex-end;
    align-items: flex-start;
  }

  p {
    margin-bottom: 0;
    //min-width: 4.7cm;
    flex-basis: 0;
    flex-grow: 1;
  }

  h5 {
    flex-basis: 2.9cm;
    //flex-grow: 0;
  }

  + section h2 {
    margin-top: 0;
  }

}

#col1 {
  //width: 9.5cm;
  flex-basis: 8.5cm;
  flex-grow: 0;
  display: inline-block;

  p {

  }
}

#col2 {
  //width: 7.09cm;
  flex-basis: 7.09cm;
  flex-grow: 1;
  display: inline-block;
}


section {
  margin: auto 0;
  //padding

  //> body {}    // toplevel sections
  > section {
    margin: 0 0 8pt;
    page-break-after: auto;
  }    // subsections (entries)

}




#education { }

#employment { }

#skills{ }







//==== Extras =================================================

// as worked out in http://tess.oconnor.cx/2007/08/tex-poshlet
// with some tweaks
.latex {
  sub {  //.latexA {
    text-transform: uppercase;
    font-size: 1em;
    vertical-align: -0.5ex;
    margin-left: -0.14em;  //-0.1667em;
    margin-right: -0.1em;  //-0.125em;
  }
  sup {  //.latexE {
    text-transform: uppercase;
    font-size: 0.8em;  //0.85em;
    vertical-align: 0.18em;  //0.15em;
    margin-left: -0.35em;  //-0.3em;
    margin-right: -0.1em;  //-0.15em;
  }
}





//==============================================================================

@media screen {

  body {
    //margin:
    padding: 2rem 0 2rem;
  }

  h1 {
    width: auto; //80%;
    margin: 0 0 0.6rem 20%;
    font-size: 2.2rem;
  }

  h2 {
    width: auto; //80%;
    margin: 1.2rem 0 0.6rem 20%;
    font-size: 1.4rem;
  }

  h3 {
    margin: auto 0 auto 20%;
    font-size: 1.1rem;
  }

  p {
    margin: auto 0 0.4rem 20%;
    flex-basis: 80%;
    //flex-grow: 1;

    .pctxt {
      text-indent: 2rem;
    }
  }

  section > div {}

  h5 {
    flex-basis: calc(20% - 1rem);
    height: 1.1rem;
    line-height: 1.3rem;
    font-size: 0.8rem;

    + h3 { margin-left: 1rem; }

    + p { margin-left: 1rem; }
  }

  .ctxt {
    p {
      font-size: 0.9rem;
    }
    h5 {
      line-height: 1.2rem;
    }
  }

  header {
    width: 100%;
    margin: 0 0 0.8rem;
    h5 {
      flex-basis: calc(50% - 1rem);
    }
  }

  #col1 {
    flex-basis: 40%;
  }

  #col2 {
    //flex-basis: 43%;
    h5 {
      flex-basis: 20%;
    }
  }

  section > section {
    margin: 0 0 0.8rem;
  }

}


//@media screen and (max-width: 900px) {}

// ..and (min-width: 600px)?
@media screen and (max-width: 800px) {

  h1, h2, h3 {
    margin-left: 30%;
  }

  h5 { flex-basis: calc(30% - 1rem); }

  p {
    flex-basis: 70%;
    margin-left: 30%;
  }

  header {
    display: block;
  }

  #col1, #col2 {
    display: block;
    h5 { flex-basis: calc(30% - 1rem); }
  }

}

// monocolumn
@media screen and (max-width: 600px) {
  // p .pctxt {
  //   text-indent: 0;
  // }
}













